OPENAI_API_KEY=
YOUTUBE_API_KEY=
PINECONE_API_KEY=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=aitube
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_URI="postgresql+psycopg2://postgres:postgres@postgres:5432/aitube"

REDIS_URL=redis://redis:6379/0
SECRET_KEY=changeme
ENV=development
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000